body {
	font-family: "Montserrat", sans-serif;
}
h1 {
	font-weight: 700;
	font-size: 3.5rem;
	line-height: 1.5;
}
h2 {
	font-size: 3rem;
	font-weight: 600;
}
h3 {
	font-weight: 700;
	font-size: 1.5rem;
	color: #eeeeee;
}
p {
	color: #8f8f8f;
}
a {
	text-decoration: none;
}
/* Navigation Bar */

.navbar {
	box-shadow: 0 5px 20px 0 rgba(128, 128, 128, 0.5);
	padding: 0 10%;
	background-color: #222831;
}
.logo img {
	padding-left: 20px;
	width: auto;
	height: 80px;
}
.navbar-call-button {
	width: 2.5rem;
	margin-right: 0.8rem;
}
.navbar-text {
	margin: 0 auto;
	font-size: 1.2rem;
	font-weight: 100;
	text-decoration: none;
}
.navbar-toggler-icon {
	font-size: 2.5rem;
}
.nav-item {
	padding: 0 20px;
}
.nav-link {
	font-size: 1.25rem;
	font-weight: 200;
}
#title {
	background-color: #f2f4f7;
	color: #222831;
}
.container-fluid {
	padding: 20% 12% 25%;
}
.mail-title {
  margin: 0 auto;
	margin-top: 50px;
  max-width: 50%;
}

/* .btn-dark {
  font-family: Ubuntu, sans-serif;
  padding: 1rem; *
}
*/

/* Buttons */
.cta-button {
	margin: 5% 3% 5% 0;
  font-size: 2rem;
  min-width: 300px;
  max-width: 300px;
}

/* Title Image */
.image-div {
	text-align: center;
  
	/* position: static; */
}
.title-image {
	width: 59%;
}

/* Features section */
#features {
	padding: 20% 7% 25%;
	background: rgb(34, 40, 49);
	background: linear-gradient(
		135deg,
		rgba(34, 40, 49, 1) 0%,
		rgba(57, 62, 70, 1) 61%,
		rgba(143, 143, 143, 1) 100%
	);
	/* position: relative; */
}
.feature-box p {
	font-size: 1.2rem;
	padding: 4%;
}
.icon {
	color: #f2f4f7;
	font-size: 6rem;
	padding: 1rem;
}

.icon:hover {
	color: #ffd369;
}

.features h3:hover {
	color: #ffd369;
}

/* Testimonial section */
#testimonials {
	padding-top: 1rem;
	/* background: rgb(34, 40, 49);
	background: linear-gradient(
		315deg,
		rgba(34, 40, 49, 1) 0%,
		rgba(57, 62, 70, 1) 61%,
		rgba(143, 143, 143, 1) 100%
	); */
	background-color: #f2f4f7;
	text-align: center;
	color: #222831;
}
.testimonial-img {
	width: 50%;
	/* border-radius: 10%; */
	/* margin: 30px 0 20px; */
}
.carousel-item {
	padding: 7% 15%;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
	height: 100px;
	width: 100px;
	/* outline: none */
	background-size: 100%, 100%;
	border-radius: 50%;
	background-color: #8f8f8f;
	/* border: 1px solid black; */
	/* background-image: none; */
}

/* Press Section */
#press {
	background-color: #020205;
	text-align: center;
	padding-bottom: 3%;
}

.press-logo {
	width: 12%;
	margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
	background-color: #f2f4f7;
	padding: 100px;
	text-align: center;
}

.pricing-column {
	padding: 3% 2%;
}

/* CTA Section */

#cta {
	/* background: rgb(34, 40, 49);
	background: linear-gradient(
		135deg,
		rgba(34, 40, 49, 1) 0%,
		rgba(57, 62, 70, 1) 61%,
		rgba(143, 143, 143, 1) 100%
	); */
	background: rgb(34, 40, 49);
	background: linear-gradient(
		315deg,
		rgba(34, 40, 49, 1) 0%,
		rgba(57, 62, 70, 1) 61%,
		rgba(143, 143, 143, 1) 100%
	);
	color: #ffff;
	padding: 21% 15%;
	text-align: center;
}
.cta-heading {
	font-size: 3.5rem;
	line-height: 1.5;
	font-weight: 700;
	color: #ffd369;
}

/* Footer */

#footer {
	background-color: #eeeeee;
	padding: 3% 7%;
	text-align: center;
}

.footer-icon {
	font-size: 2rem;
	padding: 20px;
}

/* MEDIA */

@media (max-width: 992px) {
	h1 {
		font-size: 5rem;
		padding-bottom: 50px;
	}
	h2 {
		font-size: 4rem;
	}
	h3 {
		font-size: 3rem;
	}

	.container-fluid {
		padding: 45% 5% 30%;
	}
	.navbar {
		padding: 5% 7%;
	}
	.logo img {
		height: 100px;
	}

	.navbar-text {
		display: none;
	}

	.title-image {
		/* padding-bottom: 4rem; */
		/* transform: rotate(0); */
		width: 50%;
	}

	.mail-title {
		margin: 100px auto 0;
		font-size: 2rem;
	}

	.nav-link {
		line-height: 2rem;
		font-size: 2.5rem;
		font-weight: 200;
	}

	.icon {
		color: #f2f4f7;
		font-size: 6rem;
		padding: 2rem;
    margin-top: 50px;
	}

	.image-div {
		text-align: center;
		/* position: static; */
	}

	#title {
		text-align: center;
	}

	#features {
		padding: 50% 5% 25%;
	}

	#testimonials {
		padding: 40% 0 0;
	}

	.testimonial-img {
		width: 100%;
		/* border-radius: 10%; */
		/* margin: 30px 0 20px; */
	}
	.testiomonial-txt {
		font-size: 2rem;
	}
	.cta-heading {
		font-size: 5rem;
    
	}
}
